<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
             <!-- wheels -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>

            <!-- kinematics -->
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.5</wheel_radius>
            <topic>cmd_vel</topic>

            <!-- limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>
            <max_velocity>5.0</max_velocity>
            <max_linear_velocity>5.0</max_linear_velocity>
            <max_angular_velocity>6.28</max_angular_velocity>
            <max_acceleration>5.0</max_acceleration>
            <max_linear_accelration>5.0</max_linear_accelration>
            <max_angular_acceleration>6.28</max_angular_acceleration>

            <!-- publish tf frames -->
            <command_topic>cmd_vel</command_topic>

            <!-- output -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>
            <odom_publish_frequency>20</odom_publish_frequency>
        </plugin>
    </gazebo>

    <!-- <gazebo>
        <plugin filename="ignition-gazebo-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
            <odom_frame> map</odom_frame>
            <robot_base_frame> base_footprint</robot_base_frame>
            <odom_publish_frequency>20.0</odom_publish_frequency>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <gaussian_noise>5.0</gaussian_noise>
            <xyz_offset>0 0 0</xyz_offset>
        </plugin>
    </gazebo> -->

</robot>